/* ==========================================================================
   Custom
   ========================================================================== */

$primary-color : #fff4f4;
$secondary-color : #484848;
$third-color : #d05252;

.row{
  max-width: 62.5em;
}

body{
  color:#6b6b6b;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
}
a{
  color: #5F2F08;
}
a:hover{
  color: #ab6024; 
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
  font-weight: 400; 
}
h1,h2,h3,{
  font-size: 1.4375em;
  margin-bottom: 20px;
}
h4,h5{
  font-size: 1.125em;
}
code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: 400;
  color: #222;
  font-size:0.875em
}
pre {
  padding: 10px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
}

// Layout

.site-address{
  text-align: right;
  padding-top: 10px;
  font-size: 0.875em; 
}
#site-navigation{
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4);
  position: relative;
  z-index: 1;
  background-color: $third-color;
}
#site-navigation.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
#primary{
  padding-top: 20px;
}
#secondary{
  background-color: $primary-color; 
  padding-top: 20px;
}
#main-img img{
  min-width:100%;
}

// Content
article.post{
  margin-bottom: 30px; 
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;  
}
article .thumbnail{
  padding-right: 0;
}

article .thumbnail img{
  -webkit-border-radius: 5px; 
   border-radius: 5px;  
}
.single article{
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;  
}
.entry-content ul,
.entry-content ol{
  margin-left: 25px;
}
ul.comment-list,
ol.comment-list,
ul.children,
ol ul.comment-list{
  list-style-type: none;
}
li.comment{
  margin: 15px 0;
}

#comments{  
  padding: 20px;
  background-color: $primary-color;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

// Side
.widget{
  ul{
    margin-left: 0;
  }
  li {
    list-style-type: none;
    line-height: 1.2;
    padding: 5px 0;
  }
  .widget-title{
    border-bottom: 1px solid $third-color;
  }
} 


// Footer
.site-footer{
  padding: 10px 0;
  background-color: $secondary-color;
}
.site-footer,
.site-footer h4,
.site-footer a{
  color:#fff;
}
.breadcrumb{
  background-color: $primary-color;  
  color:#222;
  padding-top: 10px;
  margin-top: 20px;
  p{  
    font-size:0.75em;
    margin-bottom: 7px;
  }
}
#colophon{
  background-color: $secondary-color;
  a:hover{
    text-decoration: underline;
  }
  p,li,.site-info{
    font-size: 0.875em;
  }
}


/* =Menu
----------------------------------------------- */

.navigation-main {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}
.navigation-main ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.navigation-main li {
  float: left;
  position: relative;
}
.navigation-main a {
  display: block;
  text-decoration: none;
  padding: 10px 27px;
  color:#fff;
}
.navigation-main ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  display: none;
  float: left;
  position: absolute;
    top: 2.8em;
    left: 0;
  z-index: 99999;
}
.navigation-main ul ul ul {
  left: 100%;
  top: 0;
}
.navigation-main ul ul a {
  width: 200px;
  color: #fff;
}
.navigation-main ul ul a:hover {
  background-color: #484848;
}
.navigation-main ul ul li {
  background-color: #484848; 
}
.navigation-main li:hover > a {
  background-color: #484848; 
}
.navigation-main ul ul :hover > a {
  background-color: #484848;
}
.navigation-main ul ul a:hover {
  background-color: #636363;
}
.navigation-main ul li:hover > ul {
  display: block;
}
.navigation-main li.current_page_item a,
.navigation-main li.current-menu-item a {
}

.site-header{
  .current-menu-item {
    background-color: #484848;
    a{
      color: #FFF;
    }
  }
  .site-logo a{
    max-width : 300px;
    display: block;
    margin: 10px 0 0 0;
    @media only screen and (max-width: 768px) {
      margin: 10px auto;
    }
  }
}

/* Small menu */
.menu-toggle {
  display: none;
  cursor: pointer;
  margin: 0 20px 0 0;
  padding: 10px 0;
}
.menu-toggle .genericon-menu {
  margin-top: 5px;
font-size: 0.725em;
}
.main-small-navigation ul {
  display: none;
}
.main-small-navigation li {
  list-style: none;
  border-bottom: 1px solid $third-color;
    -webkit-box-shadow: 0 1px 0 #eae2cc;
    -moz-box-shadow: 0 1px 0 #eae2cc;
}
.main-small-navigation li a{
  display: block;
  padding: 10px 0;
}
.main-small-navigation li a:hover{
  background-color: $secondary-color;
}
.main-small-navigation .large-12{
  background-color: $primary-color;
}

@media screen and (max-width: 768px) {
  .menu-toggle,
  .main-small-navigation ul.nav-menu.toggled-on {
    display: block;
    margin: 0;
    padding-right: 20px;
    a{
      padding: 5px;
      &:hover{
        color: #FFF;
      }
    }
  }
  .navigation-main ul {
    display: none;
  }
  #site-navigation{
    background-color: $third-color;
    .genericon-menu{
      color: #FFF; 
    }}
}


// top01
.front-feature{
  margin-top: 40px;
  img{
    border-radius: 5px; 
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;
  }
  p{
    font-size:0.875em;
  }
}
.front-news {
  background-color: $primary-color;
  padding: 10px 0;
  margin: 30px 0;
  h3 {
    border-bottom: 1px solid $third-color;
    box-shadow: 0 1px 0 #eae2cc;
      -webkit-box-shadow: 0 1px 0 #eae2cc;
      -moz-box-shadow: 0 1px 0 #eae2cc;
  }
  .date{
    margin-top: 10px;
  }
  .thumbnail img{
    border-radius: 5px; 
      -webkit-border-radius: 5px;  
      -moz-border-radius: 5px;
  }
}
.newspost{
  background-color: #fff;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px; 
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
  overflow: hidden;
  font-size:0.875em;  
  height:320px;
}
.news-meta{
  padding: 0 5px;
}
.front-sp .circle{
  text-align: center;
  img{
    border-radius: 50%; 
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
  }
}

// single
h1.entry-title{
  color: #5F2F08;
  background-color: $primary-color;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
  padding: 8px 15px 5px;
}
.entry-content h2{
  border-left: 4px solid #5F2F08;
  padding:  5px 0 5px 10px;
}
.entry-content h3{
  border-bottom: 1px dashed #5F2F08; 
  padding-bottom: 10px 0 5px 0;
}

.pagination-centered{
  clear:both;
}

.page-links {
  margin: 20px;
  a{
    padding: 7px 10px;
    background-color: #fff;
    color:#5f2f08;
    border:1px solid $secondary-color;
  }
  a:hover{
    background-color: $secondary-color;
    color:#fff;
  }  
}
.page_navi{
  text-align: center;
  clear: both;
  li{
    display: inline;
    list-style-type: none;
    a{
      padding: 7px 10px;
      background-color: #fff;
      color:#5f2f08;
      border:1px solid $secondary-color;
    }
    a:hover{
      background-color: $secondary-color;
      color:#fff;
    }
  }
  li.current span{
    padding: 7px 10px;
    background-color: $secondary-color;
    color:#fff;
    border:1px solid $secondary-color;
  }
  li.page_nums span {
    padding: 7px 10px;
    background-color: $secondary-color;
    color:#fff;
    border:1px solid $secondary-color;

  }
}
.entry-attachment .attachment{
  text-align: center;
}

table#wp-calendar {
width: 100%;
  a{
    color: #5F2F08; 
  }
}

.tablepress [class*="column"] + [class*="column"]:last-child {
float: none; }
 
.tablepress [class*="column"] + [class*="column"].end {
float: none; }

.tablepress{
  margin: 20px 0;
}
.tablepress-responsive-phone tbody tr {
vertical-align: top;
}

ul#page_link_menu {
  padding: 10px;
  margin: 20px 0;
  overflow: hidden;
  background-color: $secondary-color;  
}
#page_link_menu li{
  float: left;
  list-style-type: none;
}
#page_link_menu li a{
  color: #fff; 
}


.staff h1 { color:#5F2F08;background-color: $primary-color;border-radius: 5px;font-weight:bold; box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);padding:8px 15px 5px;  }
.staff .entry-content { margin:0px 0px 20px;display:block; overflow:hidden;padding:10px 25px;background-color: #fff; box-shadow:1px 1px 0px 1px rgba(255,255,255,1);border-radius: 5px;border:1px solid $primary-color;}
.staff .entry-content h2 { color:#5F2F08;font-weight:bold;border-bottom:1px dashed #5F2F08;padding:5px 0 10px; line-height: 110%; position: relative; border-left: none;}
.staff .entry-content .staffCate { font-size:12px;font-weight: lighter;margin-left:15px; position:relative;top:-4px; }
.staff .entry-content .staffCate a {background-color: $primary-color;border-radius: 3px; padding:2px 10px;}
.staff .entry-content .staff-thumbnail { float:right;width:30%;border:4px solid #fff;box-shadow:1px 1px 3px rgba(0,0,0,0.2); }
.staff .entry-content .staff-thumbnail img { width:100%;height:auto; }
.staff .entry-content .staff-info { margin-bottom:20px;width:65%; }
.staff .entry-content .staff-info dl  { margin-bottom:10px; }
.staff .entry-content .staff-info dl dt { color:#5F2F08;margin-bottom:8px;border-bottom:1px solid $primary-color; box-shadow: 0 1px 0 1px rgba(255,255,255,1); }
.staff .entry-content .staff-content img { margin:0 15px 10px 0; border-radius: 5px; border:1px solid $primary-color; }

.archive .staff .entry-content { padding:15px 15px;}


.menu h1 { color:#5F2F08;background-color: $primary-color;border-radius: 5px;font-weight:bold; box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);padding:8px 15px 5px;  }
.menu-cat-set { margin:0 25px 25px 15px;padding-top:25px; }
.menu #content h2 { color:#5F2F08;font-weight:bold;border-bottom:1px dashed #5F2F08;padding:5px 0 10px; line-height: 110%; position: relative; border-left: none; }
.menu .menu_set { border-bottom: 1px dashed #C6B688;display:block; overflow:hidden;padding:15px 0; }
.menu .menu_set .menu_set_txt {  }
.menu .menu_set .menu_set_txt.has_image { width:78%;float:left; }
.menu .menu_set .menu_set_txt .price { margin-left:1em;font-size:0.75em;color:#5F2F08;float:right;border:1px solid $third-color; padding:1px 5px; border-radius: 3px; }
.menu .menu_set .menu_set_txt p { margin-bottom:0;font-size:0.857em; }
.menu .menu_set .menu_set_image { width:20%;max-width:100px; float:right; }
.menu .menu_set .menu_set_image img { border:1px solid $third-color;border-radius:5px; }

ul#page_link_menu { border-left:1px solid $third-color;margin-left:0; }
ul#page_link_menu li { display:inline; list-style: none; }
ul#page_link_menu li a { padding:0 20px; border-right:1px solid $third-color;}

/*Contact Form　全体を囲う　div*/
.wpcf7 {
  max-width: 400px; }

/*テキストパーツにフォーカスすると色を変更*/
.wpcf7 input[type=text]:focus,
.wpcf7 textarea:focus {
  border-color: #83B6C2;
  outline: none;
  box-shadow: 2px 2px 4px rgba(143, 183, 222, 0.6), -2px -2px 4px rgba(143, 183, 222, 0.6), inset 0 1px 2px rgba(0, 0, 0, 0.2); }

/*フォームの文字のフォント変更*/
.wpcf7 input[type="text"], .wpcf7 input[type="number"], .wpcf7 input[type="email"], .wpcf7 input[type="tel"], .wpcf7 input[type="date"], .wpcf7 textarea {
  font-size: 14px;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo;
  border: 1px solid #B9C9CE;
  border-radius: 5px;
  padding: 12px 0.8em;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  height: 50px; }

.wpcf7 textarea {
  height: 100px; }

/*サブミットボタン*/
.wpcf7-submit {
  text-align: center;
  width: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #848483;
  padding: 15px 20px;
  background: -moz-linear-gradient(top, #f2f2f2 0%, #dadada);
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#dadada));
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #848483;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 0px rgba(15, 15, 15, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 0px rgba(15, 15, 15, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 0px rgba(15, 15, 15, 0);
  text-shadow: 1px 1px 1px white, 0px 0px 0px rgba(255, 255, 255, 0); }


/* Search
--------------------------------------------- */
#searchform {
  *zoom: 1; }

#searchform #s {
  width: 80%;
  height: 32px;
  float: left;
  border: solid 1px #33201f;
  border-right: none;
  border-radius: 5px 0 0 5px; }

#searchform:after {
  content: "";
  clear: both;
  display: block; }

#searchform #searchsubmit {
  background: url("../img/icon_search.png") #33201f no-repeat center center;
  border: 0 none;
  cursor: pointer;
  width: 20%;
  height: 32px;
  border-radius: 0 5px 5px 0;
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  font-size: 0; }

.error404 #primary form#searchform{
  width: 320px;
}

@media only screen and (max-width: 768px) {
  .site-header p{
    margin-bottom: 5px;
  }
  .site-branding,
  .site-address{
    text-align: center;
    padding-top: 0;
  }
  .front-news .small-3{
    padding-right: 0;
  } 
  .front-news .small-9{
    padding-left: 5px;
  }
  .newspost {
    margin-bottom: 10px;
    height:auto;
  }  
  .comments-area{
    margin-bottom: 20px;
  }    
  #content #s {
    width: 180px; }
  .staff .entry-content .staffCate{
    display: block;
    margin: 10px 0 0 0; 
  }
}
